
<%= form_with scope: :hashtag, url: hashtags_path, local: true do |form| %>

<% if @hashtag.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@hashtag.errors.count, "error") %> prohibited
    this hashtag from being hunted:
  </h2>
  <ul>
    <% @hashtag.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container v-10 d-flex justify-content-center">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-auto">
	<div class="form-group">
	  <%= form.label :hashtag %><br>
	  <%= form.text_field :hashtag, class: "form-control"  %>
	</div>

	<%= form.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>  
      </div>
    </div>
  </div>
</div>
<% end %>

<%= link_to 'Back', hashtags_path %>
