<%= form_with scope: :hashtag, url: hashtags_path, local: true do |form| %>
  <p>
    <%= form.label :hashtag %><br>
    <%= form.text_field :hashtag %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', hashtags_path %>
