
<%= form_with scope: :hashtag, url: hashtags_path, local: true do |form| %>

<% if @hashtag.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@hashtag.errors.count, "error") %> prohibited
    this hashtag from being hunted:
  </h2>
  <ul>
    <% @hashtag.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container d-flex justify-content-center" style="max-width: 25rem; max-height: 30rem;">
  <div class="jumbotron" style="max-width: 25rem; max-height: 30rem;">
    <div class="container d-flex justify-content-left" style="width: 21rem; max-height: 25rem;">
      <p>
	Enter a hashtag (a string starting with #) or a combination of hashtags using
	the operators OR and AND.
      </p>
    </div>
    <div class="container d-flex justify-content-left" style="width: 21rem; max-height: 20rem;">
      <p>
	Examples: <br>
        #cat; #cat AND #dog; #cat OR #dog; <br>
        #cat AND #dog OR #bear. <br>
      </p>
    </div>
    <div class="container d-flex justify-content-left" style="width: 21rem; max-height: 20rem;">
      <p>
	<small>
	  Notice: this query is left-associative, then: <br>
	  #cat OR #dog AND #duck &#8801; (#cat OR #dog) AND #duck
	</small>
      </p>
    </div>
    <div class="container d-flex justify-content-center" style="width: 21rem; max-height: 20rem;">
      <div class="col-md-auto">
	<div class="form-group">
	  <%= form.label :hashtag %>:<br>
	  <%= form.text_field :hashtag, class: "form-control"  %>
	</div>
      </div>
    </div>

    <div class="container d-flex justify-content-left" style="width: 21rem; max-height: 20rem;">
      <%= form.submit "Hunt Tweets", class: "btn btn-lg btn-primary btn-block" %>  
    </div>
  </div>
</div>
<% end %>

<%= link_to 'Back', hashtags_path %>
