<div  
  id="hashtag" 
  data-channel-subscribe="hashtag" 
  data-hashtag-id="<%= @hashtag.id %>">

  <div class="row">
    <p>
      <%= link_to 'Back', hashtags_path %>
    </p>
  </div>

  <div class="row">
    <p>
      <strong>Hashtag:</strong>
      <%= @hashtag.hashtag %>
    </p>
  </div>

  <div class="row">

    <div class="container-fluid">
      <div class="row justify-content-center">
	<%= render partial: "tweets/tweet", collection: @tweets %>
      </div>
    </div>

  </div>

  <div class="row">
    <p>
      <%= link_to 'Back', hashtags_path %>
    </p>
  </div>

</div>
