<div  
  id="hashtag" 
  data-channel-subscribe="hashtag" 
  data-hashtag-id="<%= @hashtag.id %>">

  <div class="container">
    <div class="d-flex">
      <div class="p-2">
	<p>
	  <%= link_to 'Back to hashtags', hashtags_path %>
	</p>
      </div>
      <div class="ml-auto p-2">
	<div class="digg_pagination">
	  <%= will_paginate @tweets, :container => false %>
	</div>
      </div>
    </div>

    <p>
      <strong>Hashtag:</strong>
      <%= @hashtag.hashtag %>
    </p>
  </div>

  <div class="row">

    <div class="container-fluid">
      <div class="row justify-content-center" id="tweets-card">
	<%= render partial: "tweets/tweet", collection: @tweets %>
      </div>
    </div>

  </div>

  <div class="d-flex">
    <div class="p-2">
      <p>
	<%= link_to 'Back to hashtags', hashtags_path %>
      </p>
    </div>
    <div class="ml-auto p-2">
      <div class="digg_pagination">
	<%= will_paginate @tweets, :container => false %>
      </div>
    </div>
  </div>


</div>
