<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Hunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row  justify-content-center">
	<div class="page-header text-center">
	  <h1>Tweet Hunter</h1>
	  <p class="lead text-center">Where Tweets are Hunted by You</p>
	</div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
