<!DOCTYPE html>
<html>
  <head>
    <title>Tweet Hunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <div class="container">
      <div class="py-5 text-center">
	<div class="jumbotron my-auto">
	  <h1 class="display-4 text-truncate">Tweet Hunter</h1>
	  <div class="px-2 text-center">
	    <p class="lead">Where Tweets are Hunted by You</p>
	  </div>
	</div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
